.flag-wrapper,
.flag-wrapper table {
	width: 250px;
}
.flag-wrapper td,
.flag-wrapper th {
    padding: 1px 5px;
}
.warning-row {
	background-color: #f9ce80;
}
.danger-row {
	background-color: #ff7f44;
}
.critical-row {
	background-color: #ff0000;
	color: white;
}