.info-panel {
    padding-top: 6px;
    border-top: 1px solid #ddd;
}

.info-panel legend {
	font-size: 1em;
	margin-bottom: 5px;
	background: aqua;
}

.info-element {
    display: inline-block;
    padding: 0 10px;
}
