/* CSS variables would be very nice for all the magic numbers in here. */

.stateStatus {
    background-color: #424242;
    color: #FFF;
    width: 100%;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.stateBlock.currentState {
    font-size: 32px;
    flex: 0 1 10%;
    background-color: #0f68c9;
    height: 100%;
    padding: 28px 15px;
}

.stateBlock {
    text-transform: capitalize;
    flex: 1;
}

.stateBlock .unavailable {
    opacity: 0.5;
}

.stateBlock .unavailable legend {
    color: red;
}

.stateBlock div:nth-child(1) {
    border-left: 1px solid #FFF;
}

.stateBlock div {
    margin-right: 10px;
    border-right: 1px solid #FFF;
    padding: 10px;
}

.stateBlock:empty {
    display: none;
}

.stateBlock legend {
    border-bottom: none;
    color: #FFF;
}

.btn-state {
    background-color: transparent;
    border: 1px solid white;
    margin-right: 5px;
    border-radius: 0;
    padding: 15px;
    width: 92px;
}

.btn-state:hover {
    color: #FFF;
}

@keyframes state-active-flash {
    0%   {fill: #b536da}
    50%  {fill: rgba(181, 54, 218, 0.25)}
    100% {fill: #b536da;}
}

.active_UNKNOWN_STATE .STATE_UNKNOWN_STATE,
.active_NO_COMMAND .STATE_NO_COMMAND,
.active_IDLE .STATE_IDLE,
.active_TEST_MODE .STATE_TEST_MODE,
.active_DRIVE .STATE_DRIVE,
.active_ARMED_WAIT .STATE_ARMED_WAIT,
.active_FLIGHT_PREP .STATE_FLIGHT_PREP,
.active_READY .STATE_READY,
.active_ACCEL .STATE_ACCEL,
.active_COAST_INTERLOCK .STATE_COAST_INTERLOCK,
.active_BRAKE .STATE_BRAKE,
.active_SPINDOWN .STATE_SPINDOWN {
	animation-name: state-active-flash;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 1700px) {
    .stateStatus {
        flex-flow: column;
    }

    .stateBlock.currentState {
        width: 100%;
        padding: 10px;
    }

    .stateBlock div {
        border: 1px solid white;
        margin: 5px;
    }

    .stateBlock .float-left {
        float: none;
    }
}
