.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

body {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.Overview-content {
  text-align: left;
}

.margin-bottom-40px{
  margin-bottom: 40px !important;
}

.margin-top-20px{
  margin-top: 20px !important;
}

.height-300 {
  height: 300px;
}

.overflow-x-auto {
  overflow-x: auto;
}

.section * {
  display: block;
}

.section {
  margin-bottom: 20px;
}

.logging-field {
  width: 100%;
  min-height: 20em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.col-xs-1_5 {
    width: 12.433333%;
    float: left;
    font-size: 11px;
    border-right: 1px solid #aaa;
}

.no-right-border{
    border-right: none !important;
}

.section-title {
  border-bottom: 1px solid black;
  text-align: center;
}
